.nav-container{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  
}
.nav-container > div {
    width: 120px;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}
.nav-container > div:hover {
    
    background-color: lightblue;
    transform: scale(1.5);
    z-index: 1;
}
.nav-text{
    line-height: 40px;
}